:root {
  --h1-color: #ff6b6b; /* 珊瑚红 */
  --h2-color: #4ecdc4; /* 青绿色 */
  --h3-color: #ffd166; /* 淡黄色 */
  --h4-color: #06d6a0; /* 薄荷绿 */
  --h5-color: #118ab2; /* 深天蓝 */
  --h6-color: #073b4c; /* 深蓝黑 */
}

.el-h1 > h1 {
  text-align: center;
}
